* {
    font-family: Arial, sans-serif;
}

h1,
h2 {
    color: white;
    background-color: blue;
    margin: 8px auto;
    padding: 16px;
    text-align: center;
}

li, ol {
    margin-bottom: 8px;
}

img {
    display: block;
    margin: 16px auto;
}

.photocred-container {
    margin: 16px auto;
    text-align: center;
    font-size: 10px;
}

.photocred {
    margin: auto;
}

.home-button {
    display: block;
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}